@font-face {
	font-family: Carlito;
	src: url(./carlito-bold.ttf);
}
@font-face {
	font-family: Rapper;
	src: url(./AlfaSlabOne-Regular.ttf);
}

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Carlito;
	font-weight: bold;
}

a {
	color: red;
}
a:visited {
	color: red;
}
a:active {
	color: yellow;
}
